<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dojo Survey Index</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_survey.css')}}">      
    </head>
    <body>
        <div>
            <form action='/result' method='post'>
                <label for='name'>Your Name:</label>
                <input type='text' id='name' name='name'><br>
                <label for='location'>Dojo Location:</label>
                <select id='location' name='location'>
                    <option selected="selected" value=""></option>
                    <option value="San Jose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Berkeley">Berkeley</option>
                    <option value="Tulsa">Tulsa</option>
                    <option value="Dallas">Dallas</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Washington D.C.">Washington D.C.</option>
                </select><br>
                <label for='language'>Favorite Language:</label>
                <select id='language' name='language'>
                    <option selected="selected" value=""></option>
                    <option value="Python">Python</option>
                    <option value="Ruby">Ruby</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="PHP">PHP</option>
                    <option value="C#">C#</option>
                    <option value="iOS Swift">iOS Swift</option>
                </select>
                <br>
                <label for='comment'>Comment (optional):</label>
                <textarea name='comment' id='comment'></textarea>
                <input type='submit' id='submit' value='Submit'>
            </form>   
        </div>
    </body>
</html>